name: Drama Auto Export

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Show files
        run: |
          echo "ROOT:"
          ls -la
          echo "----------------"
          echo "Drama folder:"
          ls -la Drama || true
          echo "----------------"
          find . -name "drama.js"

      - name: Run Drama Script
        run: node ./drama.js

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Auto update Drama JSON" || echo "No changes"
          git push
